* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-y: hidden;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

i {
  font-size: 50px;
  margin: 5px;
}

.aboutText {
  animation: color-change 41s infinite;
}

@keyframes color-change {
  0% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: rgb(24, 23, 23);
  }
}

.navLink {
  background-image: linear-gradient(to right, #ffffff, #ffffff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 0.8rem;
}

.navLink:before {
  content: "";
  background: #000000;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
}

.navLink:hover {
  background-position: 0;
}

.navLink::before {
  width: 100%;
}

main img {
  height: 30vw;
  width: 45vw;
  border: 0.2rem solid black;
  filter: drop-shadow(3px 5px 5px rgb(0, 0, 0));
  border-radius: 3%;
  margin: 3em auto;
}

.projectInfo {
  height: 30vw;
  width: 45vw;
  border: 0.2rem solid black;
  filter: drop-shadow(3px 5px 5px rgb(0, 0, 0));
  border-radius: 3%;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.description {
  width: 90%;
  display: flex;
  align-items: center;
}

.techUsed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.techList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
  max-height: 30%;
  width: 80%;
  margin-left: 7rem;


}

.socialLinks:hover {
  transform: scale(1.3);
}

.mainPortfolio {
  background-image: url("./images/aboutBackground.jpeg");
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  overflow: scroll;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 87vh;
  margin-top: 1rem;
}

.cardLinks {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-decoration: underline;
}

.cardLinks :hover {
  transform: scale(1.2);
}

.imageName {
  display: flex;
  align-items: center;
}

.skills {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
  font-size: 1.3rem;
  width: 100%;
  margin-bottom: 0.1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navHeader {
  background: linear-gradient(90deg, #626262 0%, #bcbcbc 100%);
}

@media screen and (min-device-width: 0px) and (max-device-width: 425px) {
  .main {
    flex-direction: column;
  }

  .navHeader {
    width: 100% !important;
  }

  .resumeCon {
    width: 100% !important;
  }

  .aboutCon {
    width: 100% !important;
  }

  .mainPortfolio {
    width: 100%;
  }
}
